.weather-bg-image{
    background: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.4)), url(./images/wheather.jpg);
    color:#fff;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 6;
}
.side-bg{
    background: rgba(0,0,0,0.7);
    color:#fff;
    height: 70vh;
    flex: 4;
}
.details{
    margin-left: auto !important;
}
@media(max-width:820px) {
    .side-bg{
        display: none;
    }
    .weather-bg-image{
        width: 100%;
    }
    
}